.screen-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ajusta el ancho para pantallas grandes */
  max-width: 400px; /* El ancho de la pantalla de Figma */
  height: 100vh;
  background-color: var(--color-background-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para que parezca una app */
  overflow: hidden; /* Oculta el scrollbar principal si el contenido es más alto */
}

.content-area {
  padding: 0 20px;
  flex-grow: 1; /* Ocupa el espacio restante */
  overflow-y: auto; /* Permite scroll si el contenido es largo */
}

.order-list-title {
  font-size: 1.1em;
  color: var(--color-text-light);
  margin-bottom: 15px;
  margin-top: 20px;
}

.order-card-wrapper {
  cursor: pointer; /* Indica que la tarjeta es clickeable */
}

.no-orders-message {
  text-align: center;
  color: var(--color-text-muted);
  margin-top: 50px;
  font-size: 1.1em;
}